* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #342D7E;  //dark blue
	
}

.mapid {
  
  width: 100%;
  height: 100%;
  z-index: 1;                      //specifies the stack order of an element, map id is the first layer
}

.container {                       //this contains the searchbox and the clock elements    

	display: flex;              //container size is flexible
	justify-content: center;    //centers the contents(search box and clock) within the container
	align-items: center;        // align contents vertically
	
	.searchbox {
		position: absolute;  // searchbox positioned relative to the container position
		top: 10%;      
		left: 10%;
		
		display: block;             //display takes full width of the "searchbox"
		width: 100%;        
		max-width: 53px;           
		transition: 0.4s linear;   
		overflow: hidden;          //hides extra chars when input doesnt fit in the searchbox
				z-index: 2;                //specifies the stack order of an element, search box is 2nd layer
		
		.searchbox__input {
			display: block;    //display takes full width of the "searchbox__input"
			appearance: none;  // removes any default styling
			width: 100%;

			border: none;       
			outline: none;
			border-radius: 50px; //roundness of border

			background-color: #24233A;  //navy
			
			padding: 15px;         //space between text and border
			color: #24233A;        //text colour: navy
			font-size: 20px;
			cursor: pointer;       //allows for cursor to click 
			transition: 0.3s linear; 

			&::placeholder {
				color: #24233A; //speed that searchbox widens at
			}
		}

		.searchbox__icon {
			position: absolute;       // searchbox positioned relative to the container position
			right: calc(53px / 2);    //centers icon
			top: 50%;
			transform: translate(50%, -50%); //moves icon when you hover

			width: 20px;
			height: 20px;

			pointer-events: none;

			path {              
				fill: #00F494;       //mint green
				transition: 0.3s linear; //speed for animation
			}
		}

		&:focus-within {                  //when you hover
			max-width: 300px;  //searchbox widens to 300px

			.searchbox__input {
				background-color: #FFF;  //white
				padding-right: 50px;     //to ensure text doesn't go over/behind the search icon
				box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4); //slight box shadow
			}

			.searchbox__icon {
				path {
					fill: #24233A;    //navy 
				}
			}
			.loader
			position: absolute
			right: calc(25px / 2)
			top: 25%
			transform: translate(50%, -50%)
			border: 3px solid #030303
			border-radius: 50%
			border-top: 3px solid #00F494
			width: 30px
			height: 30px
			-webkit-animation: spin 2s linear infinite

			/* Safari
			animation: spin 2s linear infinite
		}

		
	}


	.clock {
	position: absolute;
	top: 19%;
	left: 10%;
	
	display: block;
	width: 100%;
	max-width: 53px;
	transition: 0.4s linear;
	overflow: hidden;
		z-index: 2;
		.clock__input {
			display: block;
			appearance: none;
			width: 100%;

			border: none;
			outline: none;
			border-radius: 50px;

			background-color: #24233A; //navy
			
			padding: 15px;
			color: #24233A;
			font-size: 14px;
			cursor: pointer;
			transition: 0.4s linear;

			&::placeholder {
				color: #24233A;
			}
		}

		.clock__icon {
			position: absolute;
			right: calc(53px / 2);
			top: 50%;
			transform: translate(50%, -50%); //moves clock icon when box widens or shrinks

			width: 20px;
			height: 20px;

			pointer-events: none; 

			path {
				fill: #00F494;     //mint green
				transition: 0.4s linear;
			}
		}

		&:focus-within {
			max-width: 140px;

			.clock__input {
				background-color: #FFF;   //white
				padding-right: 50px;
				box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
			}

			.clock__icon {

				path {
					fill: #24233A;  //navy
				}
			}
		}

		
	}
@-webkit-keyframes spin
  0%
    -webkit-transform: rotate(0deg)

  100%
    -webkit-transform: rotate(360deg)

@keyframes spin
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

input
  &::-webkit-calendar-picker-indicator
    display: none

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

  &[type=number]
    -moz-appearance: textfield

/* Firefox

/*# sourceMappingURL=script.css.map





}
